<% @id += 1 %>
<tr id="<%= dom_id friend %>">
      <th scope="row"><%= @id %></th>
      <td> 
      <% name = friend.first_name + " " + friend.last_name %>
      <%= link_to name, friend, class:"btn btn-link pt-0 pb-2 text-dark" %></td>

      <td> <%= friend.email %></td>
      <td> <%= friend.phone %></td>
      <td> <%= friend.address %></td>
      <%
=begin%>
 <td> <%= friend.user_id %></td> 
<%
=end%>
      <td class="d-flex flex-row"> 
    

          <%
=begin%>
 <%= link_to "Show", friend, class:"btn btn-outline-info btn-sm  " %> 

          <%= link_to "Edit", edit_friend_path(friend), class:"btn btn-outline-secondary btn-sm ml-2" %> 
<%
=end%>
          <%= button_to "Delete", friend, method: :delete, class:"btn btn-outline-danger btn-sm ml-2" %>
      </td>
</tr>